<div class="grid-container">
  <h1 class="mat-h1"></h1>
  <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
    <!--Mini Cards-->
   <mat-grid-tile *ngFor="let mc of miniCardData" [colspan]="( cardLayout | async )?.miniCard.cols"
   [rowspan]="( cardLayout | async )?.miniCard.rows">
   <app-mini-card
    [icon]="mc.icon"
    [value]="mc.value"
    [title]="mc.title"
    [textValue]="mc.textValue" 
    [percentValue]="mc.percentValue"
    [isIncrease]="mc.isIncrease" 
    [duration]="mc.duration"  
    [isCurrency]="mc.isCurrency"  
    [color]="mc.color" 
    >
  </app-mini-card>
 </mat-grid-tile>

      <!--Charts-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Requests by action">
        <app-action-chart></app-action-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Product Sales">
          <app-product-sales-chart></app-product-sales-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Monthly Revenue">
        <app-annual-sales-chart></app-annual-sales-chart>
      </app-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="( cardLayout | async )?.chart.cols" [rowspan]="( cardLayout | async )?.chart.rows">
      <app-card title="Online Store Sessions by Traffic Source">
         <app-store-sessions-chart></app-store-sessions-chart>
      </app-card>
    </mat-grid-tile>
    <!--Table-->
    <mat-grid-tile [colspan]="( cardLayout | async )?.table.cols" [rowspan]="( cardLayout | async )?.table.rows">
      <app-card title="IDM Tracker Table">
        <app-tracks-table></app-tracks-table>
      </app-card>
   </mat-grid-tile>
  </mat-grid-list>
 </div>